<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NXLAuthConfig</key>
	<array>
		<dict>
			<key>Issuer</key>
			<string>https://issuer.example.com</string>
			<key>ClientID</key>
			<string>YOUR_CLIENT_ID</string>
			<key>RedirectURI</key>
			<string>com.example.app:/oauth2redirect/example-provider</string>
		</dict>
	</array>
</dict>
</plist>
